@font-face {
  font-family: "PragmataPro Mono Liga";
  src: url("/fonts/PragmataProMonoLiga.woff2") format("woff2"),
    url("/fonts/PragmataProMonoLiga.woff") format("woff"),
    url("/fonts/PragmataProMonoLiga.eot") format("eot"),
    url("/fonts/PragmataProMonoLiga.ttf") format("ttf");
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  font-weight: 300;
  color: #222;
  background: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: auto;
}

body {
  padding-top: 4.5rem;
}

@media (min-width: 720px) {
  body {
    padding-top: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

nav a {
  color: #000;
}

address {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-weight: 500;
  font-size: 1.6rem;
}

h4 {
  font-weight: 500;
  font-size: 1.4rem;
}

h5,
h6 {
  font-weight: 400;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  line-height: 1.1em;
}

h1 {
  font-weight: 900;
}

@media (min-width: 960px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 18px;
  }
}
